/* Write your global styles here, in SCSS syntax. Variables and mixins from the src/variables.scss file are available here without importing */ /* Import only what you need from Bootstrap */
@import './variables.scss';
@import 'node_modules/bootstrap/scss/bootstrap.scss';

@import '@fontsource/fira-mono';

@font-face {
  font-family: "Akrobat-Black";
  src: url("/fonts/Akrobat-Black.otf") format("truetype");
}
@font-face {
  font-family: "Akrobat-Regular";
  src: url("/fonts/Akrobat-Regular.otf") format("truetype");
}
@font-face {
  font-family: "Akrobat-Thin";
  src: url("/fonts/Akrobat-Thin.otf") format("truetype");
}
@font-face {
  font-family: "Gilroy-ExtraBold";
  src: url("/fonts/Gilroy-ExtraBold.otf") format("truetype");
}
@font-face {
  font-family: "Gilroy-Light";
  src: url("/fonts/Gilroy-Light.otf") format("truetype");
}

body, html {
  height: 100%;
}


input, textarea {
  border-radius: unset !important;
  font-weight: 700!important;
  font-size: 1.1rem!important;
  color: #000!important;
}
.btn {
  border-radius: unset!important;
}
.btn-rounded {
  border-radius: 50px !important;
  padding: 10px 15px;
}

.bg-grey {
  background-color: #333333;
}
.bg-card {
  background-color: #262626;
}
/*
#svelte {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
*/
h1,
h2,
p {
  font-weight: 400;
  color: var(--heading-color);
}

p {
  line-height: 1.5;
}

a {
  text-decoration: none;
  color: #428bca;
}

a:hover {
  color: #4786cd;
}

h1 {
  font-size: 2rem;
}
h2 {
  font-size: 1.6rem;
  font-weight: 600;
}

pre {
  font-size: 16px;
  font-family: var(--font-mono);
  background-color: rgba(255, 255, 255, 0.45);
  border-radius: 3px;
  box-shadow: 2px 2px 6px rgb(255 255 255 / 25%);
  padding: 0.5em;
  overflow-x: auto;
  color: #428bca;
}

input,
button {
  font-size: inherit;
  font-family: inherit;
}

button:focus:not(:focus-visible) {
  outline: none;
}

@media (min-width: 720px) {
  h1 {
    font-size: 2.4rem;
  }
}

h1 {
  font-family: Gilroy-ExtraBold;
  text-transform: uppercase;
  line-height: 3.3rem;
  font-size: 3.2rem;
}
.strokeme-white {
  color: #333333;
	-webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #ededed;
}
.strokeme-primary {
  color: #333333;
	-webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #4B515D;
}
.strokeme-warning {
  color: #333333;
	-webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #FFA701;
}
.strokeme-info {
  color: #333333;
	-webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #4786cd;
}
.strokeme-success {
  color: #333333;
	-webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #64c872;
}
.strokeme-danger {
  color: #333333;
	-webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #dd216e;
}
.strapline-bold {
  font-family: Gilroy-ExtraBold;
  color: #ededed;
  font-size: 1.0rem;
}
.strapline {
  font-family: Gilroy-Light;
  color: #ededed;
  font-size: 1.0rem;
}

.text-small {
  font-size: small;
}
.text-bold {
  font-weight: 700;
}
.text-white {
  color: #ededed;
}

.pointer {
  cursor: pointer;
}
.border-right {
  border-right: 1pt solid #444444;
}
.blog-modal {
  padding: 5px 5px;
  overflow-y: auto;
  min-height: 400px;
  margin: 5% 5%;
  text-align: left;
  color: rgb(40, 38, 38);
  background: #262626;
  border: 1pt solid #ededed;
  border-radius: 0px;
}
.source-modal {
  padding: 10px 40px;
  overflow-y: auto;
  max-height: 400px;
  margin: 5% 5%;
  text-align: left;
  color: #000;
  background: white;
  border: 1pt solid #ededed;
  border-radius: 0px;
}
.source-code {
  padding: 10px 10px;
  overflow-y: auto;
  min-height: 600px;
  text-align: left;
  color: #ededed;
  background: #262626;
  border: 1pt solid #aeaeae;
  border-radius: 0px;
  font-family: monospace;
}
.content {
  width: 100%;
  max-width: var(--column-width);
  margin: var(--column-margin-top) auto 0 auto;
}
.outline-light {
  border: 1pt solid #ccc!important;
}

.jumbo {
  width: 80%;
  background: #eaeaea;
  margin: 10px auto;
  padding: 10px;
  text-align: left;
  border-radius: 10px;
}
@media screen and (min-width: 0px) and (max-width: 776px) {
  .hideme { display: none; }  /* show it on small screens */
}
.text-akrobat-thin {
  font-family: Akrobat-Thin;
  text-transform: uppercase;
  font-size: 1.1rem;
  line-height: 2em;
  color: #ededed;
}




/* https://codepen.io/sosuke/pen/Pjoqqp */
.filter-success{
	filter: invert(73%) sepia(56%) saturate(410%) hue-rotate(74deg) brightness(88%) contrast(84%);
}
.filter-warning{
	filter: invert(90%) sepia(18%) saturate(6119%) hue-rotate(330deg) brightness(100%) contrast(99%);
}
.filter-danger{
	filter: invert(23%) sepia(100%) saturate(7325%) hue-rotate(21deg) brightness(97%) contrast(87%);
}


.upper {
	text-transform: uppercase;
}



/* nav styles */
/* burger menu styles */
.navbar-toggler {
  background-color: #fff;
  opacity: 0.6;
}
.nav-logo {
  width: 40px;
  height: auto; 
}

@media screen and (min-width: 0px) and (max-width: 756px) {
  .navbar-collapse {
    float: right;
  }
  .nav-logo {
    width: 50px;
    height: auto; 
  }
  .navbar-collapse .navbar-nav {
    background-color: #333;
    opacity: 0.9;
    border-radius: 10px;
    text-align: left;
    margin: 5px 5px;
    padding: 15px 5px;
    width: 100%;
  }
  .navbar-collapse .dropdown {
    padding: 0px 15px;
    margin: 0;
  }
}
.navbar-nav {
  margin-left: auto;
}
.navbar-collapse>ul>li>dropdown:hover {
  color: #fff;
}
/* end burger menu styles */

.nav-item a {
	text-transform: lowercase;
	font-weight: 700;
	font-size: 1.0rem;
  color: #fff;
}
.nav-link {
  text-transform: lowercase;
  font-weight: 700;
  font-size: 1rem;
  color: #fff;
}

nav {
  background-color: #333;
	display: flex;
	z-index: 20;
	height: 60px;
	justify-content: center;
}
nav a {
	display: flex;
	height: 100%;
	align-items: center;
	padding: 0 1em;
	color: var(--heading-color);
	color: #fff;
	font-weight: 700;
	font-size: 0.8rem;
	text-transform: uppercase;
	letter-spacing: 0.1em;
	text-decoration: none;
	transition: color 0.2s linear;
}
.nav-link:hover {
	color: #4786cd!important;
}
.nav-link>a:hover {
	color: #4786cd!important;
}
.dropdown-toggle:hover {
	color: #4786cd!important;
}
.dropdown-toggle>a:hover {
	color: #4786cd!important;
}
.dropdown-menu {
	background-color: #2E2E2E;
	border: none;
  border-radius: 0;
  font-size: 0.8rem;
	padding: 0 0px;
  margin: 5px;
	font-family: Gilroy-Light;
}
.nav-item > a:hover {
  color: #4786cd;
}
.dropdown-item {
  font-size: 0.8rem!important;
  color: #ededed;
}
.dropdown-item:hover, .dropdown-item:focus {
  opacity: 40%;
  background-color: #ededed;
}
a.dropdown-item {
	padding: 5px 5px;
}
.nav {
	font-family: Gilroy-ExtraBold;
}
/* end nav styles */


/* Prismjs styles for pretty Clarity */
.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
	color: slategray;
}

.token.punctuation {
	color: #999;
}

.token.namespace {
	opacity: .7;
}

.token.property,
.token.tag,
.token.boolean,
.token.number,
.token.constant,
.token.symbol,
.token.deleted {
	color: #905;
}

.token.selector,
.token.attr-name,
.token.string,
.token.char,
.token.builtin,
.token.inserted {
	color: #690;
}

.token.operator,
.token.entity,
.token.url,
.language-css .token.string,
.style .token.string {
	color: #9a6e3a;
}

.token.atrule,
.token.attr-value,
.token.keyword {
	color: #07a;
}

.token.function,
.token.class-name {
	color: #DD4A68;
}

.token.regex,
.token.important,
.token.variable {
	color: #e90;
}

.token.important,
.token.bold {
	font-weight: bold;
}
.token.italic {
	font-style: italic;
}

.token.entity {
	cursor: help;
}





.progress {
  --bs-progress-border-radius: unset!important;
  border-radius: unset!important;
}